[buildout]
index = https://pypi.python.org/simple/
extends =
  buildout-base.cfg
extensions = mr.developer

var-dir=/data
user=admin:password

effective-user = senaite
buildout-user = senaite

eggs-directory=eggs
download-cache=../buildout-cache/downloads

parts +=
  plonesite
  console_scripts

eggs +=
    senaite.lims
    senaite.patient
    senaite.jsonapi
    senaite.databox
    senaite.storage
    senaite.ldap
    senaite.diagnosis
    senaite.referral
    RelStorage
    psycopg2-binary

sources = sources
auto-checkout = *

[sources]
senaite.core = git https://github.com/ngslabex/senaite.core.git branch=2.6.2
senaite.app.listing = git https://github.com/ngslabex/senaite.app.listing.git branch=2.x
senaite.app.spotlight = git https://github.com/ngslabex/senaite.app.spotlight.git branch=2.x
senaite.app.supermodel = git https://github.com/ngslabex/senaite.app.supermodel.git branch=2.x
senaite.databox = git https://github.com/ngslabex/senaite.databox.git branch=master
senaite.impress = git https://github.com/ngslabex/senaite.impress.git branch=2.x
senaite.jsonapi = git https://github.com/ngslabex/senaite.jsonapi.git  branch=2.x
senaite.lims = git https://github.com/ngslabex/senaite.lims.git branch=2.x
senaite.storage = git https://github.com/ngslabex/senaite.storage.git branch=2.x
senaite.patient = git https://github.com/ngslabex/senaite.patient.git branch=master
senaite.ldap = git https://github.com/ngslabex/senaite.ldap.git branch=master
senaite.diagnosis = git https://github.com/ngslabex/senaite.diagnosis.git branch=master
senaite.referral = git https://github.com/ngslabex/senaite.referral.git branch=2.x

[instance]
event-log-handler = StreamHandler
event-log-args = (sys.stderr,)
access-log-handler = StreamHandler
access-log-args = (sys.stdout,)
environment-vars =
    TZ Europe/Istanbul
zope-conf-additional =
    <zodb_db main>
        <relstorage>
            type postgresql
            dsn dbname='${SENAITE_DB_NAME:senaite_db}' user='${SENAITE_DB_USER:senaite_user}' password='${SENAITE_DB_PASSWORD:sifre}' host='${SENAITE_DB_HOST:postgresql}'
            keep-history false
        </relstorage>
        mount-point /
    </zodb_db>

[console_scripts]
recipe = zc.recipe.egg:scripts
eggs = senaite.core
    RelStorage
    psycopg2-binary

[plonesite]
recipe = collective.recipe.plonesite
instance = instance
site-id = senaite
profiles-initial = Products.CMFPlone:dependencies
profiles =
    senaite.lims:default
upgrade-portal = False
upgrade-all-profiles = False
enabled = False

[versions]
setuptools =
zc.buildout =
